h1, h4 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

body {
    background-color: aliceblue;
}

h3 {
    padding-top: 15px;
}

#id {
    margin-top: 5px;
}
    
